#about{
    display: flex;
    font-family: Qsand_M;
    height: 80%;
    padding-top: 5px;
    border-top: 1px dotted #fdfdfc;
    background-color: rgb(40, 41, 43);
    

    img{
        padding-left: 50px;
        height: 450px;
        max-width: 500px;
        margin-top: 15px;
    }

    .aboutContent{ 
        justify-content: flex-end;
        width: 700px;
        padding-top: 50px;
        padding-left: 100px;
        color: #fdfdfc;

        h1{
            padding-top: 40px;
        }
        
        p{
            max-width: 600px;
            padding-top: 30px;
            line-height: 30px;
            overflow: auto;

        }

        a{
            i{
                font-size: 24px;
                padding-left: 15px;
                color: #0077b5 ;
            }
        }

        
    }
}

@media screen and (max-width: 1000px){

    #about{
        display: block;
        height: auto;

        img{
            display: none;

        }
        .aboutContent{
            overflow: hidden;
            padding: 15px;
        }
    }
    
}

@media screen and (max-width: 500px){

    #about{
        display: block;
        height: auto;
        img{
            display: none;
        }
        .aboutContent{
            width: 350px;
            font-size: 14px;
            padding: 5px 15px;
        }
    }
    
}