#about{
    display: flex;
    font-family: Qsand_M;
    height: 80%;
    padding-top: 5px;
    border-top: 1px dotted #fdfdfc;
    background-color: rgb(40, 41, 43);
    

    img{
        padding-left: 50px;
        height: 450px;
        width: 600px;
        margin-top: 15px;
    }

    .aboutContent{ 
        justify-content: flex-end;
        width: 700px;
        padding-top: 50px;
        padding-left: 100px;
        color: #fdfdfc;

        h1{
            padding-top: 40px;
        }
        
        p{
            max-width: 550px;
            padding-top: 30px;
            line-height: 30px;
            overflow: auto;

        }

        
    }
}

@media screen and (max-width: 1050px){

    #about{

        img{
            width: 350px;
            height: 450px;
        }
        .aboutContent{
            overflow: hidden;
        }
    }
    
}