#contact{
    height: 90%;
    padding-top: 20px;
    background-color: #28292b;
    border-top: 1px dotted white;




    .header{
        text-align: center;
        font-family: Qsand_M;
        color: #FDFDFC;


        h2{
            font-size: 40px;
            
        }
      

    }
 #contact_form{
    .input-wrapper, .input-wrapper-two, .messageDiv{
        display: flex;
        margin: 50px auto;
        max-width: 70%;
        
        .emailInput, .nameInput {
            width: 50%;
            border-radius: 8px;
            margin-right: 20px;
            padding: 10px;
            outline: none;
        }
    
         .subjectInput, .messageBox{
            margin-right: 20px;
            border-radius: 8px;
            width: 100%;
            padding: 10px;
            outline: none;
        }

        
    
}

.messageBox{
    height: 150px;
}

.contactBtn{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    
    .submitContact{
            height: 45px;
            width: 100px;
            margin: 30px;
            border-radius: 43px;
            color: black;
            background-color: #d50e16;
            box-shadow: 0px 7px rgb(0, 0, 0, 0.2);
            cursor: pointer;
}
    }
}
}