#cover{
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    
    nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 20px;
            
            .logo{
                 max-width: 300px;
                 margin-left: 20px;
                 padding-top: 5px;
                 display: flex;
                justify-content: space-evenly;
                 align-items: center;
            }

            .openMenu{
                font-size: 2rem;
                display: none;
                color: #fdfdfc;
                cursor: pointer;
            }

            
            .links{
                margin-right: 20px;
                display: flex;

                .closeMenu{
                    font-size: 2rem;
                    color: #fdfdfc;
                    display: none;
                    cursor: pointer;
                }
            a{
                margin: 25px;
                font-size: 18px;
                text-decoration: none;
                font-family: Qsand_M;
                color: #fdfdfc;
             
                &:hover{
                    color: #d50e16;
                }
    
                &.active{
                    background-color: #d50e16;
                }
            }
        }
    }
    

    .info{
        margin: 200px 250px;
        width: clamp(30%, 80%, 100%);
        float: left;
        text-align: left;
        font-size: 32px;
       
        color: #fdfdfc;
        font-family: Qsand_M;  
        
        
        h3,h2,p{
            opacity: 0;
            transform: translateY(20px);
        }

        h3{
            animation: slideUp 0.5s ease forwards 0.5s;
        }

        h2{
            font-size: 75px;
            letter-spacing: 5px;
            word-spacing: 10px;
            font-family: Qsand_B;
            animation: slideUp 0.5s ease forwards 0.5s;
        }


        p{
            color: #d50e16;     
            animation: slideUp 1.0s ease forwards 1.5s;

        }

        img{
            float: right;
            margin: -300px 0;
            width: 350px;
            height: 375px;
            border-radius: 20%;
        }
        
    }
}

@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);

    }
}

@media only screen and (max-width: 1200px){
    #cover{
        .info{
            margin: 150px 75px;

            p{
                font-size: 24px;
            }
            img{
                display: none;
            }
        }
    }
}


//hamburger menu responsiveness
@media only screen and (max-width: 768px) {
     nav .links {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: top 2s ease;
      background-color: #d50e16;
      text-align: center;
      z-index: 1000;
    }

    nav .links a:hover {
       text-decoration: underline;
      }

    #cover nav .links .closeMenu{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
  

    #cover nav .openMenu{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

  }