#content{
    height: 175%;
    margin: 0px auto;
    text-align: center;
    background-color: #28292b;
    border-top: 1px dotted white;

    .header{
        font-family: Qsand_M;
        color: #FDFDFC;
    
        h2{
        margin-top: 40px;
        font-size: 40px;
    }
    

    }

    .portfolio_content{
        position: relative;
        margin: 70px auto;
        max-width: 1100px;
        max-height: 400px;
        background-color: #FDFDFC;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px; 
    
        .coming_soon_overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.5); /* Semi-transparent white background */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            

            h2{
                font-size: 40px;
                font-family: Qsand_M;
            }
          }

        img{
        max-width: 500px;
        height: 300px;
        float: left;

        
        }

        h3{
            padding-top: 20px;
        }

        .btnGroup{

            button{
                height: 45px;
                width: 90px;
                margin: 30px;
                border-radius: 4px;
                color: black;
                box-shadow: 0px 7px rgb(0, 0, 0, 0.2);
                cursor: pointer;
                background-color: red;


            }

            button:hover{
                transition: all 2.3s ease; /* Adding a smooth transition for all properties */
            background: linear-gradient(to right, #ff9a9e, #fecfef);
            
            }

        }
         

        
        ol{

            ul{
                padding: 5px;

                span{
                    color: #00FF00;
                    font-size: 18px;

                }
            }
        }
    }
}

@media only screen and (max-width: 900px){
    #content{

    .portfolio_content{
        img{
            width: 350px;
        }
        .btnGroup{

            button{
                width: 40px;
                height: 40px;
                font-size: 10px
            }
        }

    
    }
}
}