#skills{
    height: 100%;
    background-color: rgb(40, 41, 43);
    border-top: 1px dotted white;
    text-align: center;
   


        h1{
            font-family: Qsand_M;
            color: #FDFDFC;
            margin-top: 50px;
        }

        p{
            font-family: Qsand_M;
            color: #FDFDFC;
        }
    

    .flex-container{
        max-width: 1000px;
        height: 400px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 50px auto;
        padding-top: 100px;
        background-color: #28292b;
        border-radius: 10%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        .icon-wrapper{
            text-align: center;
            width: 25%;
            padding: 0.5rem;
                
        .icon{
            font-size: 56px;
            color: #FDFDFC;
        }

        .icon-label{
                color: #FDFDFC;
                font-size: 10px;
        }
        
        }  

        }

        div:hover{
            transform: scale(1.1);
            transition: 1s ease;
        }
    }

    @media screen and (max-width: 950px) {
        #skills{
            height: auto;
        }
        .flex-container{
            
        }

    }
