 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
 }


 html, body {
  height: 100%;
  scroll-behavior: smooth;
/*  background-image: url(../img/batthern.png);
  background-repeat: repeat; */

 }
 h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px
 }

@font-face {
    font-family:Qsand_M;
    src: url(../css/fonts/Quicksand-Medium.ttf);
}

@font-face {
    font-family:Qsand_B;
    src: url(../css/fonts/Quicksand-Bold.ttf);
}

@font-face {
    font-family:Qsand_R;
    src: url(../css/fonts/Quicksand-Regular.ttf);
}

@font-face {
    font-family:Qsand_M;
    src: url(../css/fonts/Quicksand-Light.ttf);
}
